 

body {
    background-color: #d7e3fa;
    background-attachment: fixed;
    height: 100vh;
    font-family: system-ui;
    background-position: 100% 100%;
}

a {
    text-decoration: none;
    color: white;
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

.logo {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}

.navigationBar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header nav li {
    margin-right: 30px;
}

    header nav li a {
        padding: 6px 15px;
        border-radius: 20px;
        color: #074770;
    }

        header nav li a:hover, .active {
            background-color: #074770;
            color: #fff;
        }


.navigationBar .navBar-options {
    float: left;
    overflow: hidden;
}


    .navigationBar .navBar-options .options-btn {
        font-size: 16px;
        border: none;
        outline: none;
        color: #074770;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }



    .navigationBar .navBar-options .dropdown-content {
        display: none;
        position: absolute;
        background-color: #074770;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.519);
        z-index: 1;
    }


        .navigationBar .navBar-options .dropdown-content a {
            float: none;
            padding: 12px 16px;
            display: block;
            text-align: left;
        }


            .navigationBar .navBar-options .dropdown-content a:hover {
                background-color: #9CA6AD;
            }


    .navigationBar .navBar-options:hover .dropdown-content {
        display: block;
    }



/*view student*/
.search {
    margin-top: 10px;
    padding: 10px;
    margin-left: 10px;
    font-size: 14px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    height: 35px;
    width: 30%;
}
.search-btn {
    padding: 10px;
    margin-left: 10px;
    font-size: 16px;
    border-style: solid;
    border-radius: 20px;
    height: 40px;
    background-color:#074770;
    color:#fff;
}

/* Style the results table */
table {
    margin: 3px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 2px solid black;
}

th {
    background-color:#fff;
}

td button {
    padding: 5px;
    margin-right: 5px;
    font-size: 14px;
}

.header_view {
    color: #074770;
}

.edit {
    padding: 6px 15px;
    border-radius: 20px;
    color: #074770;
    font-weight:bold;
}

/*---------------------------Search------------------------------------------*/
.search-button {
    padding: 10px;
    margin-left: 820px;
    font-size: 16px;
    border-style: solid;
    border-radius: 20px;
    height: 40px;
    background-color: #074770;
    color: #fff;
}

.searchBox {
    display: flex;
    justify-content: center;
    margin-left: 400px;
    margin-top: 100px;
    font-size: 14px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    height: 35px;
    width: 30%;
}

.mainTitle{
    text-align:center;
} 
